<div class="ranking">
    <div class="ranking-title">
        <h3>3e Provinciale A</h3>
    </div>
    <div class="ranking-table">
        <div class="ranking-table-row ranking-table-header">
            <div class="ranking-table-row-cell">
                <p>Team</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>P</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>M</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>W</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>G</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>V</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>+</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>-</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>+/-</p>
            </div>
        </div>
        <div class="ranking-table-row">
            <div class="ranking-table-row-cell">
                <p>K.F.C. Diepenbeek</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>34</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>14</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>11</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>1</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>2</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>41</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>14</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>27</p>
            </div>
        </div>
        <div class="ranking-table-row">
            <div class="ranking-table-row-cell">
                <p>K.M.R Biesen</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>31</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>14</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>10</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>1</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>3</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>38</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>18</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>20</p>
            </div>
        </div>
        <div class="ranking-table-row">
            <div class="ranking-table-row-cell">
                <p>Membruggen V&V</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>30</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>14</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>9</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>3</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>2</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>31</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>18</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>13</p>
            </div>
        </div>
        <div class="ranking-table-row">
            <div class="ranking-table-row-cell">
                <p>S.K. Musterbilzen</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>25</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>14</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>8</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>1</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>5</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>33</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>21</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>12</p>
            </div>
        </div>
        <div class="ranking-table-row">
            <div class="ranking-table-row-cell">
                <p>Eendracht Mechelen A/D Maas</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>22</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>14</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>7</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>1</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>6</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>29</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>19</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>10</p>
            </div>
        </div>
        <div class="ranking-table-row">
            <div class="ranking-table-row-cell">
                <p>K. Lanaken V.V.</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>21</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>13</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>6</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>3</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>4</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>28</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>22</p>
            </div>
            <div class="ranking-table-row-cell">
                <p>6</p>
            </div>
        </div>
    </div>
</div>