<html lang="en">
    <head>
        <title>My soccer web app</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Barlow:400,500,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/styles.min.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <script src="assets/js/scripts.min.js"></script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d94a73693518ada"></script>
    </head>
    <body>
        <header class="header">
    <nav class="navbar navbar-expand-lg main-nav">
        <div class="navbar-logo mobile">
            <a href="#">My soccer webb app</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="navbar-collapse collapse" id="main-menu">
            <div class="navbar-top">
                <div class="navbar-logo desktop">
                    <a href="#">My soccer webb app</a>
                </div>
                
                <ul class="navbar-top__list session-activated">
                    <li class="navbar-top__list__item">
                        <i class="far fa-user"></i>
                        <a class="navbar-top__list__item__link" href="settings.html">Michiel</a>
                    </li>
                    <li class="navbar-top__list__item">
                        <a class="navbar-top__list__item__link" href="index.html">Uitloggen</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-bottom">
                <ul class="navbar-bottom__list">
                    <li class="nav-item navbar-bottom__list__item dropdown">
                        <a class="nav-link navbar-bottom__list__item__link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pro League</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">1A</a>
                            <a class="dropdown-item" href="#">1B</a>
                        </div>
                    </li>
                    <li class="nav-item navbar-bottom__list__item dropdown">
                        <a class="nav-link navbar-bottom__list__item__link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nationaal</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">1e Amateur</a>
                            <a class="dropdown-item" href="#">2e Amateur A</a>
                            <a class="dropdown-item" href="#">2e Amateur B</a>
                            <a class="dropdown-item" href="#">3e Amateur A</a>
                            <a class="dropdown-item" href="#">3e Amateur B</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item navbar-bottom__list__item dropdown">
                        <a class="nav-link navbar-bottom__list__item__link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Limburg</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">1e Provinciaal</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">2e Provinciaal A</a>
                            <a class="dropdown-item" href="#">2e Provinciaal B</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">3e Provinciaal A</a>
                            <a class="dropdown-item" href="#">3e Provinciaal B</a>
                            <a class="dropdown-item" href="#">3e Provinciaal C</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">4e Provinciaal A</a>
                            <a class="dropdown-item" href="#">4e Provinciaal B</a>
                            <a class="dropdown-item" href="#">4e Provinciaal C</a>
                            <a class="dropdown-item" href="#">4e Provinciaal D</a>
                        </div>
                    </li>
                    <li class="nav-item navbar-bottom__list__item dropdown">
                        <a class="nav-link navbar-bottom__list__item__link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Antwerpen</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">1e Provinciaal</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">2e Provinciaal A</a>
                            <a class="dropdown-item" href="#">2e Provinciaal B</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">3e Provinciaal A</a>
                            <a class="dropdown-item" href="#">3e Provinciaal B</a>
                            <a class="dropdown-item" href="#">3e Provinciaal C</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">4e Provinciaal A</a>
                            <a class="dropdown-item" href="#">4e Provinciaal B</a>
                            <a class="dropdown-item" href="#">4e Provinciaal C</a>
                            <a class="dropdown-item" href="#">4e Provinciaal D</a>
                            <a class="dropdown-item" href="#">4e Provinciaal E</a>
                            <a class="dropdown-item" href="#">4e Provinciaal F</a>
                        </div>
                    </li>
                    <li class="nav-item navbar-bottom__list__item dropdown">
                        <a class="nav-link navbar-bottom__list__item__link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vlaams-Brabant</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">1e Provinciaal</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">2e Provinciaal A</a>
                            <a class="dropdown-item" href="#">2e Provinciaal B</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">3e Provinciaal A</a>
                            <a class="dropdown-item" href="#">3e Provinciaal B</a>
                            <a class="dropdown-item" href="#">3e Provinciaal C</a>
                            <a class="dropdown-item" href="#">3e Provinciaal D</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">4e Provinciaal A</a>
                            <a class="dropdown-item" href="#">4e Provinciaal B</a>
                            <a class="dropdown-item" href="#">4e Provinciaal C</a>
                            <a class="dropdown-item" href="#">4e Provinciaal D</a>
                            <a class="dropdown-item" href="#">4e Provinciaal E</a>
                            <a class="dropdown-item" href="#">4e Provinciaal F</a>
                            <a class="dropdown-item" href="#">4e Provinciaal G</a>
                        </div>
                    </li>
                    <li class="nav-item navbar-bottom__list__item dropdown">
                        <a class="nav-link navbar-bottom__list__item__link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Oost-Vlaanderen</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">1e Provinciaal</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">2e Provinciaal A</a>
                            <a class="dropdown-item" href="#">2e Provinciaal B</a>
                            <a class="dropdown-item" href="#">2e Provinciaal C</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">3e Provinciaal A</a>
                            <a class="dropdown-item" href="#">3e Provinciaal B</a>
                            <a class="dropdown-item" href="#">3e Provinciaal C</a>
                            <a class="dropdown-item" href="#">3e Provinciaal D</a>
                            <a class="dropdown-item" href="#">3e Provinciaal E</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">4e Provinciaal A</a>
                            <a class="dropdown-item" href="#">4e Provinciaal B</a>
                            <a class="dropdown-item" href="#">4e Provinciaal C</a>
                            <a class="dropdown-item" href="#">4e Provinciaal D</a>
                            <a class="dropdown-item" href="#">4e Provinciaal E</a>
                            <a class="dropdown-item" href="#">4e Provinciaal F</a>
                        </div>
                    </li>
                    <li class="nav-item navbar-bottom__list__item dropdown">
                        <a class="nav-link navbar-bottom__list__item__link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">West-Vlaanderen</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">1e Provinciaal</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">2e Provinciaal A</a>
                            <a class="dropdown-item" href="#">2e Provinciaal B</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">3e Provinciaal A</a>
                            <a class="dropdown-item" href="#">3e Provinciaal B</a>
                            <a class="dropdown-item" href="#">3e Provinciaal C</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">4e Provinciaal A</a>
                            <a class="dropdown-item" href="#">4e Provinciaal B</a>
                            <a class="dropdown-item" href="#">4e Provinciaal C</a>
                            <a class="dropdown-item" href="#">4e Provinciaal D</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

        <main class="content-wrapper">
            

    <div class="login">
        <section class="banner">
    <div class="banner-image small">
        <figure style="background-image:url('assets/images/banner-home.jpg')"></figure>
    </div>
</section>

        <section class="login-form">
            <div class="container">
                <div class="login-header">
                    <h4>Log in</h4>
                </div>
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 form-group">
                            <label for="Email">E-mailadres*</label>
                            <input class="form-control" data-val="true" data-val-length="Gelieve je e-mailadres in te geven" data-val-length-max="50" data-val-required="Gelieve je mailadres in te geven" id="Email" name="Email" placeholder="E-mailadres" type="email" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 form-group">
                            <label for="Password">Wachtwoord*</label>
                            <input class="form-control validate" data-val="true" data-val-length="Gelieve je wachtwoord in te geven" data-val-length-max="20" data-val-required="Gelieve je wachtwoord in te geven" id="Password" name="Password" placeholder="Wachtwoord" type="password">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 form-group login-btn">
                            <a href="passwordForgotten.html" class="password-forgotten">Wachtwoord vergeten?</a>
                            <button type="submit" class="btn btn-primary btn-soccer-green login">Inloggen</button>
                        </div>
                    </div>
                </form>
                <div class="login-footer">
                    <p>Nog geen account? <a class="register" href="Register.html">Registreer hier</a>
                    </p>
                </div>
            </div>
        </section>
    </div>


        </main>

        <footer class="footer">
</footer>
    </body>
</html>