h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  font-style: normal;
  color: $color-black;
  margin-bottom: 0.9rem;
  line-height: 1.2em;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}
a,
p {
  font-family: "Barlow", serif;
}
